version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morph-backend-prod
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    env_file:
      - .env.production
    restart: always
