version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morph-backend
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    environment:
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    # Optional: overrides the CMD in Dockerfile if needed, but the 'dev' stage CMD is already correct
    command: yarn start:dev
    env_file:
      - .env.development
    restart: unless-stopped
