version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: morph-backend
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - NODE_ENV=development
    volumes:
      - .:/app
      - /app/node_modules
    # Optional: overrides the CMD in Dockerfile if needed, but the 'dev' stage CMD is already correct
    command: yarn start:dev
    env_file:
      - .env
    restart: unless-stopped
